---
http_interactions:
- request:
    method: get
    uri: http://www.quandl.com/api/v1/datasets/OFDP/GOLD_2
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - '406'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: US-ASCII
      string: The requested format is not supported.
  recorded_at: Thu, 07 Mar 2013 21:35:43 GMT
- request:
    method: get
    uri: http://www.quandl.com/api/v1/datasets/OFDP/GOLD_2.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - '200'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      Etag:
      - ! '"c462e685dfbb81ae1b43739a4b925b6b"'
    body:
      encoding: US-ASCII
      string: ! '{"source_code":"OFDP","code":"GOLD_2","name":"LBMA Gold Price: London
        Fixings P.M.","urlize_name":"LBMA-Gold-Price-London-Fixings-P-M","description":"LBMA
        Gold Price: London Fixings P.M.. London Bullion Market Association (LBMA).
        Fixing levels are set per troy ounce.","updated_at":"2013-03-07T19:53:16Z","frequency":"daily","from_date":"1968-04-01","to_date":"2013-03-06","column_names":["Date","USD","GBP","EUR"],"private":false,"type":null,"errors":{},"data":[["2013-03-06",1574.0,1045.5,1210.583],["2013-03-05",1579.75,1043.911,1212.208],["2013-03-04",1574.25,1045.388,1210.031],["2013-03-01",1582.25,1054.131,1218.991],["2013-02-28",1588.5,1046.719,1213.614],["2013-02-27",1604.25,1058.143,1225.554],["2013-02-26",1590.5,1049.35,1216.723],["2013-02-25",1586.25,1049.593,1194.106],["2013-02-22",1576.5,1032.89,1199.133],["2013-02-21",1577.0,1034.505,1192.799],["2013-02-20",1588.5,1038.507,1188.019],["2013-02-19",1607.75,1039.135,1203.136],["2013-02-18",161[...]
- request:
    method: get
    uri: http://www.quandl.com/api/v1/datasets/OFDP/SILVER_5.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - '200'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      Etag:
      - ! '"5af94412740e178864fcc64d989adba4"'
    body:
      encoding: US-ASCII
      string: ! '{"so[...]
- request:
    method: get
    uri: http://www.quandl.com/api/v1/datasets/.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
      Etag:
      - ! '"99914b932bd37a50b983c5e7c90ae93b"'
    body:
      encoding: US-ASCII
      string: ! '{}'
  recorded_at: Fri, 08 Mar 2013 09:16:03 GMT
- request:
    method: get
    uri: http://www.quandl.com/api/v1/datasets/FRED/DGS10.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - '200'
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
      Etag:
      - ! '"95bd51d74ada3b7910ae4ccd76ed9add"'
    body:
      encoding: US-ASCII
      string: ! '{"sourc[...]
